@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*CSS DOCUMENT*/

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

/*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

html {
	font-family: 'Inter', sans-serif;
}

div.home-container {
	background: url(images/home-background.jpg) center center fixed;
	background-size: cover;
}

div.container {
	position: relative;
	min-height: 100vh;
	background-color: #fafafa;
}

/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */

main {
	padding: 1.5rem;
	padding-bottom: 3rem;
}

img {
	width: 100%;
	/*Please leave this line.*/
	display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #cccccc;
	padding: 1rem 0.5rem;
}

h1 {
	width: 10rem;
	display: flex;
	align-items: center;
}

h2,
h3,
h4 {
	font-weight: 700;
}

h2 {
	font-size: 2.25rem;
	margin: 1rem 0rem 0rem 0rem;
}

h3 {
	font-size: 1.5rem;
	margin: 1rem 0rem 0.5rem 0rem;
}

nav ul {
	text-align: right;
}

ul li {
	list-style-type: none;
}

/* figure {
	margin-bottom: ____;
} */

main.menu ul {
	margin-top: 1.25rem;
}

main.menu ul li {
	margin-bottom: 1.75rem;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

p {
	margin: 1rem 0rem;
}

p.description {
	grid-column: 1;
	margin: 0;
}

p.price {
	grid-row: 1;
	grid-column: 2;
	color: rgb(255, 0, 0);
	justify-self: end;
	margin: 0rem;
}

nav ul li {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 0.5rem;
	overflow: hidden;
	padding: 0.45rem;
}

nav ul li a {
	text-decoration: none;
	color: #fdfd58;
	background-color: #2623f4;
	padding: 0.45rem;
}

nav ul li a.selected {
	text-decoration: none;
	color: #ffffff;
	background-color: #da9537;
	padding: 0.45rem;
}

p.slogan {
	font-size: 3.5rem;
	font-family: 'Gloock', serif;
	font-weight: 500;
	margin: 2rem 0rem 1.5rem;
	color: #ffffff;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;
	box-sizing: border-box;
	padding: 0.45rem;
	background-color: #fdfd58;
	font-weight: 400;
}

address {
	color: #ffc400;
}

footer p {
	margin: 0;
}

article {
	background-color: #a8f6fd;
	margin: 1rem auto;
	padding: 0.5rem;
	width: 70%;
}

@media screen and (min-width: 26em) {
	p.slogan {
		margin-bottom: 2.5rem;
	}
}

@media screen and (min-width: 48em) {
	p.slogan {
		margin-bottom: 4.5rem;
	}
}

@media screen and (min-width: 60em) {
	html {
		background-color: #cd4f25;
	}

 .container {
		width: 59em;
		margin: 0 auto;
 }

 nav ul li a {
	font-size: 1.22rem;
}

 	nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

 	nav ul li {
		display: inline-block;
	}

	main.menu ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2.5rem;
	}
}

/* Resolutions below for my monitor */
@media screen and (min-width: 75em) {
	.container {
		width: 74em;
	}
}

@media screen and (min-width: 90em) {
	.container {
		width: 89em;
	}
}


